
*::-webkit-scrollbar {
    max-height: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 0.25rem;
    /* display: none; */
}

div::-webkit-scrollbar-track{
   
    border-radius: 0.125rem;
    background-color: lightgray;
}

div::-webkit-scrollbar{

    width: 0.25rem;
    border-radius: 0.125rem;
}

div::-webkit-scrollbar-thumb {    
    border-radius: 0.125rem;
    background-color: gray;
};

div::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 2px;
  } 