.grid-gradient {
    background:
      linear-gradient(
      rgba(255, 255, 255, 0.5), transparent 1px
      ),
      linear-gradient(
      90deg,
      rgb(255, 255, 255, 0.5), transparent 1px
      );
    background-size: 25px 25px;
    background-position: center center;
    border: 2px solid rgb(255, 255, 255, 0.5);
  }